## Copyright 2017 Tom Keffer, Matthew Wall
## Distributed under terms of GPLv3.  See LICENSE.txt for your rights.
#errorCatcher Echo
#encoding UTF-8

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>$station.location Telemetry</title>
    <link rel="icon" type="image/png" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="seasons.css"/>
    <script src="seasons.js"></script>
  </head>

  <body onload="setup();">
    #include "titlebar.inc"

    <div id="contents">
      <p><a href="index.html">&#10096; Current Conditions</a></p>

      <div id="widget_group">
        #include "sensors.inc"
      </div>

      <div id="plot_group">
        <div id="history_widget" class="widget">
          <div id="plot_title" class="widget_title">Telemetry:&nbsp;&nbsp;
            <a class="button_selected" id="button_history_day"
               onclick="choose_history('day')">Day</a>
            <a class="button" id="button_history_week"
               onclick="choose_history('week')">Week</a>
            <a class="button" id="button_history_month"
               onclick="choose_history('month')">Month</a>
            <a class="button" id="button_history_year"
               onclick="choose_history('year')">Year</a>
          </div>
          <div id="history_day" class="plot_container">
            #if $day($data_binding='davishealthapi_binding').signalQuality.has_data
            <img src="dayrx.png"        alt="$obs.label.signalQuality"/>
            #end if
            #if $day($data_binding='davishealthapi_binding').rssi.has_data
            <img src="daysignal.png"        alt="$obs.label.rssi"/>
            #end if
            #if $day($data_binding='davishealthapi_binding').supercapVolt.has_data
            <img src="dayvoltSensor.png"        alt="$obs.label.supercapVolt"/>
            #end if
            #if $day($data_binding='davishealthapi_binding').consolePower.has_data
            <img src="dayvoltConsole.png"        alt="$obs.label.consolePower"/>
            #end if
          </div>
          <div id="history_week" class="plot_container" style="display:none">
            #if $week($data_binding='davishealthapi_binding').signalQuality.has_data
            <img src="weekrx.png"        alt="$obs.label.signalQuality"/>
            #end if
            #if $week($data_binding='davishealthapi_binding').rssi.has_data
            <img src="weeksignal.png"        alt="$obs.label.rssi"/>
            #end if
            #if $week($data_binding='davishealthapi_binding').supercapVolt.has_data
            <img src="weekvoltSensor.png"        alt="$obs.label.supercapVolt"/>
            #end if
            #if $week($data_binding='davishealthapi_binding').consolePower.has_data
            <img src="weekvoltConsole.png"        alt="$obs.label.consolePower"/>
            #end if
          </div>
          <div id="history_month" class="plot_container" style="display:none">
            #if $month($data_binding='davishealthapi_binding').signalQuality.has_data
            <img src="monthrx.png"        alt="$obs.label.signalQuality"/>
            #end if
            #if $month($data_binding='davishealthapi_binding').rssi.has_data
            <img src="monthsignal.png"        alt="$obs.label.rssi"/>
            #end if
            #if $month($data_binding='davishealthapi_binding').supercapVolt.has_data
            <img src="monthvoltSensor.png"        alt="$obs.label.supercapVolt"/>
            #end if
            #if $month($data_binding='davishealthapi_binding').consolePower.has_data
            <img src="monthvoltConsole.png"        alt="$obs.label.consolePower"/>
            #end if
          </div>
          <div idw="history_year" class="plot_container" style="display:none">
            #if $year($data_binding='davishealthapi_binding').signalQuality.has_data
            <img src="yearrx.png"        alt="$obs.label.signalQuality"/>
            #end if
            #if $year($data_binding='davishealthapi_binding').rssi.has_data
            <img src="yearsignal.png"        alt="$obs.label.rssi"/>
            #end if
            #if $year($data_binding='davishealthapi_binding').supercapVolt.has_data
            <img src="yearvoltSensor.png"        alt="$obs.label.supercapVolt"/>
            #end if
            #if $year($data_binding='davishealthapi_binding').consolePower.has_data
            <img src="yearvoltConsole.png"        alt="$obs.label.consolePower"/>
            #end if
          </div>
        </div>
      </div>

      #include "identifier.inc"
    </div>

  </body>
</html>
